<app-navbartres></app-navbartres> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container bg-light mt-5">
        <br>
      <div class="autoregistro">
      <h5>Registro del vehiculo</h5>
      <label for="placas" class="form-label">Placas</label>
      <input type="text" class="form-control" id="placas">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca">
      <label for="year" class="form-label">Año</label>
      <input type="text" class="form-control" id="year">
      <label for="color" class="form-label">Color</label>
      <input type="text" class="form-control" id="color">
    </div> 
    <br>
    <div class="text-center">
        <button class="btn btn-block btn-outline-success">Registrarse</button>
      </div>
      <br>
    </div>
</body>
</html>

<router-outlet></router-outlet>