<app-navbardos></app-navbardos> 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container bg-light mt-5">
        <br>
    <h4>Alertas</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Lugar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Choque</td>
            <td>No servia el semaforo</td>
            <td>Cañada Honda</td>
          </tr>
        </tbody>
      </table><br>
      <hr>


      <h4>Viajes</h4>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Conductor</th>
              <th scope="col">Pasajero</th>
              <th scope="col">Fecha</th>
              <th scope="col">Lugar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Jonathan Rdz</td>
              <td>22/04/2019</td>
              <td>Cañada Honda</td>
            </tr>
          </tbody>
        </table><br>

        <hr>
      <h4>Rastrear chofer</h4>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">ID</span>
        </div>
        <input type="text" class="form-control">
        <div class="text-center">
            <button class="btn btn-block btn-outline-success">Rastrear</button>
          </div>
      </div><br>
      <hr>
      <h4>Rastrear pasajero</h4>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">ID</span>
        </div>
        <input type="text" class="form-control">
        <div class="text-center">
            <button class="btn btn-block btn-outline-success">Rastrear</button>
          </div>
      </div><br>
      <hr>

    </div>

</body>
</html>