<app-navbardos></app-navbardos> 
 
<div class="container bg-light mt-5">
  <div class="jumbotron p-3">
    <div class="text-center">
      <img src="../../../assets/img/perfil.png" width="50%" height="200px">
    </div>
    <hr>
    <div class="mb-3">
      <label for="Correo" class="form-label ">Correo</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id aria-label="Text input with dropdown button">
        <select class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <option>Tipo de usuario</option>
          <option value="1">Pasajero</option>
          <option value="2">Conductor</option>
        </select>
      </div>
      <label for="pass" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="pass">
      <label for="passconf" class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" id="passconf">
    </div>
  <!--  <div class="autoregistro">
      <h5>Registro del vehiculo</h5>
      <label for="placas" class="form-label">Placas</label>
      <input type="text" class="form-control" id="placas">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca">
      <label for="year" class="form-label">Año</label>
      <input type="text" class="form-control" id="year">
      <label for="color" class="form-label">Color</label>
      <input type="text" class="form-control" id="color">
    </div> --> <br>
    <div class="text-center">
      <button class="btn btn-block btn-outline-success">Registrarse</button>
    </div>
    <hr>
  </div>
</div>
