<app-navbar></app-navbar> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container bg-light mt-5">

    <h4>Información del viaje</h4>
<br><br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Conductor</th>
            <th scope="col">Placas</th>
            <th scope="col">Precio</th>
            <th scope="col">Puntuación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mark</th>
            <td>AS543</td>
            <td>67</td>
            <td>4.5</td>
          </tr>
          <tr>
            <th scope="row">Jacob</th>
            <td>ASF534</td>
            <td>45</td>
            <td>4.7</td>
          </tr>
          <tr>
            <th scope="row">Larry</th>
            <td>SDG345F</td>
            <td>56</td>
            <td>5.0</td>
          </tr>
        </tbody>
      </table><br><br><br>

    </div>
</body>
</html>

<router-outlet></router-outlet>