<app-navbartres></app-navbartres> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes</title>
</head>
<body>
    <div class="container bg-light mt-5">
        <br>
<h4>Registro de viajes</h4><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Cliente</th>
            <th scope="col">Metodo de pago</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Calificación</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>UTA</td>
            <td>San Marcos</td>
            <td>Harry</td>
            <td>Efectivo</td>
            <td>64</td>
            <td>4.6</td>
          </tr>
        </tbody>
      </table>
      <hr>
      
    </div>

</body>
</html>